#container{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    
}

img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 25%;
    object-fit: cover;
  
}

#back{
    position: absolute;
    top: 50%;
    left: 10%;
}

#next{
    position: absolute;
    top: 50%;
    right: 10%;
}